# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (if used later)
Pods/

# Carthage (if used later)
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
